*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header{
  background-color: bisque;
  padding:15px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.userdetail{
  text-align: center;
}
.userdetail>img{
  width:30px;
  height:30px;
}
.feedback,.intro,.login,.signup,.profile,.feedbackform{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user{
  display: flex;
  justify-content: center;
  border:1px solid black;
  padding:10px;
  margin:10px;
  width:400px;
}
.profilebody{
  display:flex;
  gap:20px;
}
.feedback{
  border:1px solid black;
  padding:10px;
  margin:10px;
  width:200px;
}

.sendfeedback{
  margin:15px;
  display:flex;
  justify-content: flex-end;
  width:1200px;
}
.feedbacks{
  margin:15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width:900px;
  padding:10px;
  gap:10px;
}
