*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header{
  background-color: bisque;
  padding:15px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.userdetail{
  text-align: center;
}
.userdetail>img{
  width:30px;
  height:30px;
}
.feedback,.intro,.login,.signup,.profile,.feedbackform{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

